## Webtop Configuration
## See: https://docs.linuxserver.io/images/docker-webtop/

# Container user/group mapping
PUID=1000
PGID=1000

# Timezone
TZ=America/Phoenix

# Host port mapped to Webtop's internal port 3000
WEBTOP_PORT=3080
